#input2 {
    margin-left: 30px;
}

#input3 {
    margin-left: 30px;
}

.inputs {
    visibility: hidden;
}

#tabla {
    margin-left: -20px;
    margin-top: 10px;
    text-align:center;
}

#nuevosDatos {
    margin-left: 18px;
    margin-bottom: 20px;
}

#insertarDatos {
    margin-left: 20px;
    visibility: hidden;
}

#registro {
    margin-left: -20px;
    margin-top: 10px;
}

#boton {
    margin-left: 18px;
}